@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SFUFuturaRegular';
  src: url('../public/FUTURA_VH/SFUFuturaRegular.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SFUFuturaBold';
  src: url('../public/FUTURA_VH/SFUFuturaBold.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #2c2c2c;
  font-family: 'SFUFuturaRegular', sans-serif;
}

.font-futu_bold {
  font-family: 'SFUFuturaBold', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-size-title {
  font-size: 52px;
}

.text-size-subtitle {
  font-size: 32px;
}

@media screen and (max-width: 768px) {
  .text-size-title {
    font-size: 32px;
  }

  .text-size-subtitle {
    font-size: 24px;
  }
  
}

::-webkit-scrollbar {
  width: 0px;
  height: 10px;
}
